# packages in environment
#
# Name                    Version                   Build  Channel
cudnn                     7.6.5                cuda10.1_0    anaconda
distributed               2021.4.1         py38h06a4308_0  
docutils                  0.17.1           py38h06a4308_1  
easydict                  1.9                        py_0    conda-forge
glob2                     0.7                pyhd3eb1b0_0  
imageio                   2.9.0              pyhd3eb1b0_0  
imagesize                 1.2.0              pyhd3eb1b0_0  
importlib-metadata        3.10.0           py38h06a4308_0  
importlib_metadata        3.10.0               hd3eb1b0_0  
keras-preprocessing       1.1.0                      py_1    anaconda
matplotlib                3.3.4            py38h06a4308_0  
matplotlib-base           3.3.4            py38h62a2d02_0  
numpy                     1.20.1           py38h93e21f0_0  
numpy-base                1.20.1           py38h7d8b39e_0  
numpydoc                  1.1.0              pyhd3eb1b0_1  
opencv-contrib-python     4.5.3.56                 pypi_0    pypi
pillow                    8.2.0            py38he98fc37_0  
pip                       21.2.3                   pypi_0    pypi
python                    3.8.8                hdb3f193_5  
scikit-image              0.18.1           py38ha9443f7_0  
scikit-learn              0.24.1           py38ha9443f7_0  
scipy                     1.6.2            py38had2a1c9_1  
seaborn                   0.11.1             pyhd3eb1b0_0   
setuptools                52.0.0           py38h06a4308_0  
tensorboard               2.2.1              pyh532a8cf_0    anaconda
tensorboard-plugin-wit    1.6.0                      py_0    anaconda
tensorflow                2.2.0           gpu_py38hb782248_0    anaconda
tensorflow-base           2.2.0           gpu_py38h83e3d50_0    anaconda
tensorflow-estimator      2.2.0              pyh208ff02_0    anaconda
tensorflow-gpu            2.2.0                h0d30ee6_0    anaconda
tensorlayer               2.2.3                    pypi_0    pypi
wheel                     0.36.2             pyhd3eb1b0_0  
